@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*
viss kas tiek ierakstits starp {} tiek pielietots pilnigi visiem elementiem
*/
*{
    font-family: "Open Sans", sans-serif; /*pieskir citu sriftu no google fonts*/
}

#title{
    font-size: 40px; /* teksta izmers */
    font-weight: 800; /* Treknraksts */
}

.section{
    font-size: 30px;
    font-weight: 700;
    background-color: #bdd7ff;
    border: 1px solid #ababff;
    padding-left: 10px; /* atstarpe no malas */
    margin-bottom: 10px; /* nonem atstarpes apaksa zem about */
    margin-top: 12px;
}

.text{
    margin: 0 0 10px 0;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse; /* sapludina bordera dubulto liniju uz 1 */
}

td, th{
    padding: 3px 5px;
}

thead{
    background-color: #bef2ff;
}

img{
    margin-top: 8px;
    border: 1px solid #9b9b9b;
    width: 450px;
    height: 450px;
}
